API_ID=18168536 # get this value from my.telegram.org
API_HASH=d1af4ecf28fc3b41ce6973d835181a0a # get this value from my.telegram.org
BOT_TOKEN=6306381238:AAE982Sm-CKQ8nNFlEMSaenMbINKmYR1Nrc # get this value from @Botfather
MONGO_DB_URI=Mongodb Uri # get this value from mongodb.com
OWNER_ID=5915944424 # your id number not username
LOG_GROUP_ID=-1001968577422 # get this value from in your log group 
MUSIC_BOT_NAME=جەهەنەم میوزیک # your music bot name 
STRING_SESSION=pyrogram_string_session
